<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<main>
  <header class="container">
     <app-cart-header [numberItems]="4"
     >       
     </app-cart-header> 
 
  </header>

  <section class="container">
    <app-cart-body
    
    ></app-cart-body>
  </section>

  <section class="container">
    <app-cart-footer
    
    [promoCode] : string = '',
    [numSubtotal] : number = 2000,
    [numTax] : number = 1111,
    [numTotal] : number = 33333

    ></app-cart-footer>
  </section>
</main>